@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

.container {
    width: 90%;
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 방향 중앙 정렬 */
    margin: 0 auto; /* 수평 방향 중앙 정렬을 위해 추가 */
}

.cart-logo {
    width: 175px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 0 0 80px;
}

.cart-grid {
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    box-sizing: border-box;
    justify-content: flex-start; /* 왼쪽 정렬 유지 */
    padding-left: 10px;
    height: calc(100vh - 240px);
    margin: 10px 10px 0 0;
    overflow-y: auto;
}

.align-to-left {
    margin-right: auto;
}

.card {
    position: relative;
    width: 44%;
    margin: 2.5%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

}

.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

.card-overlay {
    font-family: "Jua", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.card-text {
    margin: 0;
    padding-right: 10px;
    flex-grow: 1;
    word-wrap: break-word;
}

.card-checkbox {
    transform: scale(1.5);
}

.close-button:hover {
    color: red;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-payment {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
}

.cart-receipt {
    padding: 10px 20px 10px 20px;
    min-height: calc(100vh - 350px);
    background-color: #F0F0F0;
}

.cart-list {
    height: calc(100vh - 550px);
    padding: 10px;
    overflow-y: auto;
}

input[type="button"] {
    position: relative;
    padding: 10px;
    width: 100%;
    margin-top: 3%;
    border: 0;
    box-shadow: 0px 4px 0px #F0F0F0;
    background-color: #4B5CFF;
    color: white;
    font-size: 24px;
}

input[type="button"]:active {
    box-shadow: 0 0 #adadad;
    background-color: #acacac;
}