<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.card.CardMapper">

    <update id="insertUrl" parameterType="com.choikang.chukahaeyo.card.model.CardVO">
        UPDATE Card
        SET cardURL = #{cardURL}, cardQR  = #{cardQR}
        WHERE cardID = #{cardID}
    </update>

    <insert id="insertCardInDatabase" parameterType="com.choikang.chukahaeyo.card.model.CardVO">
        INSERT INTO Card
        (cardName, cardIsPublic, cardIsPaid, cardDate, cardStartDate, cardEndDate, cardImage, cardEmojis,
        cardDesign, templateThumbnail, categoryID, memberID, payID)
        VALUES (#{cardName}, #{cardIsPublic}, #{cardIsPaid}, DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 9 HOUR), #{cardStartDate}, #{cardEndDate}, #{cardImage},
        #{cardEmojis}, #{cardDesign}, #{templateThumbnail}, #{categoryID}, #{memberID}, #{payID})

        <selectKey order="AFTER" keyProperty="cardID" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getPersonalCart" parameterType="int" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        SELECT *
        FROM Card
        WHERE (memberID = #{memberID}) AND (cardIsPaid = FALSE)
    </select>

    <select id="getPersonalCard" parameterType="int" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        SELECT *
        FROM Card
        WHERE (memberID = #{memberID}) AND (cardIsPaid = TRUE)
        ORDER BY payID DESC
    </select>

    <select id="getPublicCardList" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        SELECT *
        FROM Card
        WHERE (cardIsPublic = TRUE) AND (cardIsPaid = TRUE)
    </select>

    <select id="getLatest3CardList" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        SELECT *
        FROM (SELECT *,
                     ROW_NUMBER() OVER (PARTITION BY categoryId ORDER BY cardDate DESC) as rn
              FROM Card
              WHERE (cardIsPublic = TRUE) AND (cardIsPaid = TRUE)) ranked
        WHERE rn = 1;
    </select>

    <select id="getTop3CardList" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        SELECT *
        FROM (SELECT *,
                     ROW_NUMBER() OVER (PARTITION BY categoryId ORDER BY cardLikeCnt DESC, ABS(DATEDIFF(cardStartDate, NOW())) ASC) as rn
              FROM Card
              WHERE cardIsPublic = TRUE) ranked
        WHERE rn = 1;
    </select>

    <delete id="deleteCard" parameterType="int">
        DELETE
        FROM Card
        WHERE cardID = #{cardID}
    </delete>

    <select id="getCompletedCardPage" parameterType="int" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        SELECT *
        FROM Card
        WHERE cardID = #{cardID}
    </select>

    <update id="updateCardPaymentStatus" parameterType="int">
        UPDATE Card
        SET cardIsPaid = TRUE, payID = (SELECT MAX(payID) FROM Payment)
        WHERE cardID = #{cardID}
    </update>

    <update id="updateCardLike" parameterType="int">
        UPDATE Card
        SET cardLikeCnt = Card.cardLikeCnt + 1
        WHERE cardID = #{cardID}
    </update>

    <insert id="insertCardGuestBook" parameterType="com.choikang.chukahaeyo.card.model.GuestBookVO">
        INSERT INTO GuestBook (guestName, guestBookText, guestBookPostDate, cardID)
        VALUES (#{guestName}, #{guestBookText}, DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 9 HOUR), #{cardID})
    </insert>

    <select id="selectGuestBooks" parameterType="int" resultType="com.choikang.chukahaeyo.card.model.GuestBookVO">
        SELECT *
        FROM GuestBook
        WHERE cardID = #{cardID}
        ORDER BY guestBookPostDate
    </select>

</mapper>