@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

/*header container css*/
.header{
    width: 100%;
    min-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: end;
    border-bottom: 1px solid black;
    justify-content: center;
    margin-bottom: 10px;
}

/* 로고 */
.logo {
    width: 180px;
    height: 65px;
    background-image: url("/resources/img/logo/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor : pointer;
}

/*nav1*/
.nav1{
    display: flex;
    flex-direction: row;
    font-family: "Jua", sans-serif;
    font-size: 22px;
}
.nav1 a {
    color: #ACACAC;
}
.nav1 .gallery-community{
    color: #949FFF;
}
.nav1 .my-birth-card {
    width: 110px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.nav1 .pet-birth-card {
    width: 160px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.nav1 .party-invite-card{
    width: 125px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.nav1 .gallery{
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
}
.nav1 .community{
    width: 105px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}

/*nav2*/
.nav2 {
    width: 230px;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 5px;
}
.nav2 a {
    color: black;
    margin: 0 10px 0 10px;
}