<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.payment.PaymentMapper">
    <!-- 결제 정보 삽입 -->
    <insert id="insertPayment" parameterType="com.choikang.chukahaeyo.payment.model.PaymentVO">
        INSERT INTO Payment (payDate,
                             payNo,
                             payAmount,
                             memberID,
                             receiptURL,
                             merchantUid)
        VALUES (DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 9 HOUR),
                #{payNo},
                #{payAmount},
                #{memberID},
                #{receiptURL},
                #{merchantUid})
        <selectKey order="AFTER" keyProperty="payID" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="cancelPayment" parameterType="com.choikang.chukahaeyo.payment.model.PaymentVO">
        UPDATE Payment
        SET
            canceledAt = #{canceledAt},
            failReason = #{failReason},
            cancelReceiptURL = #{cancelReceiptURL}
        WHERE payNo = #{payNo}
    </update>

    <select id="selectPaymentDaySum" parameterType="String" resultType="int">
        SELECT IFNULL(SUM(payAmount), 0) FROM Payment
        WHERE canceledAt IS NULL
          AND DATE(payDate) = #{date}
    </select>

    <select id="selectPaymentMonthSum" parameterType="String" resultType="int">
        SELECT IFNULL(SUM(payAmount), 0) FROM Payment
        WHERE canceledAt IS NULL
          AND DATE(payDate) BETWEEN DATE_ADD(#{date}, INTERVAL -1 MONTH) AND #{date}
    </select>

    <select id="selectPaymentYearSum" parameterType="String" resultType="int">
        SELECT IFNULL(SUM(payAmount), 0) FROM Payment
        WHERE canceledAt IS NULL
          AND DATE(payDate) BETWEEN DATE_ADD(#{date}, INTERVAL -1 YEAR) AND #{date}
    </select>

</mapper>