<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.member.MemberMapper">
    <select id="login" parameterType="com.choikang.chukahaeyo.member.model.MemberVO" resultType="com.choikang.chukahaeyo.member.model.MemberVO">
        SELECT * FROM user WHERE email=#{email} AND pwd=#{pwd}
    </select>
</mapper>