<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.board.BoardMapper">
    <sql id="searchSql">
        <where>
            <if test="query != null and query != ''">
                <if test="querytype == 'all'">
                    commTitle LIKE '%${query}%' OR commContents LIKE '%${query}%' OR memberName LIKE '%${query}%'
                </if>
                <if test="querytype == 'titlecontent'">
                    commTitle LIKE '%${query}%' OR commContents LIKE '%${query}%'
                </if>
                <if test="querytype == 'writer'">
                    memberName LIKE '%${query}%'
                </if>
            </if>
        </where>
    </sql>


    <select id="getCommunityList" parameterType="com.choikang.chukahaeyo.board.model.CommunityVO" resultType="com.choikang.chukahaeyo.board.model.CommunityVO">

        SELECT commId , c.memberId , commTitle , commContents , commPostDate , commEditedDate , commViewCount , memberEmail , memberPwd , memberName ,(select count(*) from boardlike where boardId = c.commId) as boardLike FROM community c left join members m on m.memberId = c.memberId
        <include refid="searchSql"/>
        ORDER BY commPostDate ASC
        LIMIT #{startIdx}, 10
    </select>





    <select id="count" parameterType="com.choikang.chukahaeyo.board.model.CommunityVO" resultType="int">
        SELECT COUNT(*) FROM community c left join members m on m.memberId = c.memberId
        <include refid="searchSql"/>
    </select>


</mapper>