@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    text-align: -webkit-center;
    min-height: 100vh;
}

.all-content {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

/* roof 뒤쪽 */
.card-upper {
    z-index: 2;
}

.card-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: 100%;
    position: relative;
}

/* 상단 이미지 */
.card-top-img {
    width: 70px;
    height: 62.12px;
    z-index: 3;
    position: absolute;
    top: 160px;
}

/* 카드 맨 윗부분 */
.card-roof-img {
    width: 100%;
    height: 550px;
}

/* roof 내에 들어가는 카드 이름과 날짜 */
/* 맨 위 텍스트 박스 */
.card-basic-container {
    width: 469px;
    height: 138px;
    z-index: 3;

    position: absolute;
    top: 310px;
}

.card-name {
    width: 469px;
    height: 34px;
    text-align: center;
}

.card-date {
    width: 469px;
    height: 34px;
    text-align: center;
    color: #373B3C;
    font-size: 38px;
    font-family: Quantico;
    position: absolute;
    top: 104px;
}

.card-main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 549px;
}

.card-content {
    top: 100px;
    width: 100%;
    height: auto;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-content img {
    width: 540px;
    height: 540px;
}

.card-message {
    word-break: break-all;
    width: 80%;
    height: auto;
    margin-top: 100px;
    line-height: 60px;
    text-align: center;
    color: #373B3C;
    font-size: 34px;
    font-weight: 400;
}

/* 추가 내용 */
.card-extra {
    margin-top: 100px;
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
}

.extra-time {
    width: 100%;
    margin-top: 100px;
    height: auto;
    color: #373B3C;
    font-size: 30px;
    font-family: Quantico;
}

.extra-place {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    color: #1e1f22;
}

.extra-address {
    width: 100%;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 30px;
}

#map {
    width: 500px;
    height: 400px;
    margin: 0 auto 0 auto;
}

.extra-preparation {
    word-break: break-all;
    width: 100%;
    height: auto;
    margin-top: 100px;
    line-height: 60px;
    text-align: center;

    color: #373B3C;
    font-size: 30px;
    font-weight: 400;
}

.extra-account {
    margin-top: 100px;
    width: 100%;
    font-size: 25px;
}

/* 좋아요 section */
.card-like-section {
    margin-top: 100px;
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#like {
    margin-left: 7.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 88px;
    height: 88px;
    border: none;
    cursor: pointer;
}

/* 좋아요 문구 */
.card-like-text {
    color: #373B3C;
    font-size: 23px;
    font-weight: 600;
}

/* 좋아요 수 */
.like-number {
    color: #373B3C;
    font-size: 20px;
    font-weight: 600;
}

/* 방명록 */
.guestbook {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.guestbook-title {
    font-size: 30px;
    font-weight: 550;
    margin-right: auto;
    margin-left: 20px;
}

.guestbook-divider {
    border: 1.5px solid;
    width: 95%;
    margin: 10px auto 0 auto;
}

.guest-nickname,
.guest-message {
    font-size: 18px;
    word-wrap: break-word;
}

.guest-nickname {
    border: 2px solid;
    border-radius: 7px;
    width: 90%;
    height: 50px;
    margin: 10px auto 0 auto;
    text-align: left;
    text-indent: 3%;
}

.guest-nickname::placeholder,
.guest-message::placeholder {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 550;
    opacity: 0.8;
}

.guest-message {
    border: 2px solid;
    border-radius: 7px;
    width: 90%;
    height: 120px;
    margin: 10px auto 0 auto;
    text-align: justify;
    padding-top: 6px;
    padding-left: 2%;
}

.guestbook-submit-button {
    width: 81.36px;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 10px 35px 0 auto;

    font-family: "Noto Sans KR", sans-serif;
}

/* 방명록 메시지 */
.guest-messages {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
}

.message-block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

}

.message-block img {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    width: 65px;
    height: 65px;
}

.message-text {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 90%;
    text-align: left;
    height: auto;
    font-size: 16px;
}

.extra-time,
.extra-place,
.extra-preparation,
.extra-account {
    display: none;
}

.more-card {
    cursor: pointer;
}
