@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.main {
    font-family: "Noto Sans KR", sans-serif;
}

.admin {
    width: 90%;
    min-width: 1100px;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.admin-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 0;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}

.admin-header .logo {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 30px 0 5px 200px;
}

.admin-header .logout {
    font-size: 18px;
    color: black;
    margin: 30px 200px -10px 0;
}


.admin-header > hr {
    margin: 0 auto;
    width: 85%;
    border: #B5B5B5 solid 1px;
}

.admin-wrap {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: flex-start;
}

.admin-content {
    width: 100%;
}

.menu {
    width: 20%;
}

.admin-menu {
    width: 100%;

}

.admin-menu > ul {
    margin: 0;
    padding: 0;
}

.admin-menu > ul > li {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    list-style-type: none;

    display: block;
    cursor: pointer;

    height: 30px;
    margin: 40px 20px 40px 50px;
    line-height: 30px;
}

.v-line {
    border-left: 2px solid #B5B5B5;
    height: 650px;
}

/* 관리자 페이지 로그인 */
.login_header{
    display: flex;
}

.login_title{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    letter-spacing: -2px;
    text-align: center;
    margin: 25px 30px;
    line-height: 24px;
}

.login_header_line{
    width: 90%;
    min-width: 800px;
    border: black solid 1px;
}

.login_form {
    display: block;
    border: #aaaaaa 1px solid;
    position: relative;
    margin: 20px auto;
    width: 800px;
    height: 600px;
}

.login_form > h3{
    margin-top: 100px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    text-align: center;
}

.login_form > ul > li {
    display: block;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding-right: 60px;
}

.login_form > ul > li > input {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    height: 40px;
    margin: 10px 0;
    width: 300px;
    border-radius: 4px;
    border: 2px solid #B5B5B5;
    padding-left: 15px;
}

.login_img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.login_btn {
    display: block;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 18px;

    cursor: pointer;
    width: 300px;
    margin: 40px auto;
    padding: 7px 0;

    color: #FFFFFF;
    border-radius: 7px;
    border: 0;
    background-color: #000000;
}

.login_form .login_btn:hover {
    color: #ffffff;
    background-color: #535353;
    font-weight: 700;
}

/* 관리자 페이지 주문목록 */
.payment-list {
    display: flex;

    margin: 10px 0 0 20px;

    width: 90%;
    border: 1px solid #A5A5A5;
}

.payment-item {
    align-items: flex-start;
    flex-wrap: wrap;

    display: block;
    width: 15%;

    /*padding: 10px;*/
    margin: 5px 0 5px 5px;
}

.payment-item-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 10px 5px 5px 5px;

    max-width: 100%;
    box-sizing: border-box;
}

.payment-info {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    font-weight: 500;

    text-align: right;
    flex-direction: column;
    display: block;
    position: relative;
    margin: 10px 0 0 0;

    width:85%;
    min-width: 170px;
}

.payment-info > p {
    margin: 4px;
    text-align: left;
}

.payment-info > a {
    text-align: right;
    background-color: black;
    color: #FFFFFF;
    border: 0;

    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0 15px 10px 0;
    padding: 3px 10px;
}

