@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

.main {
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 방향 중앙 정렬 */
    margin: 0 auto;
}

.top-bar {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 40px; /* 로고와 필터 사이 간격 조정 */
    margin-bottom: 40px;
}

.gallery-logo {
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 50px 0 50px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-right: 30px;
    padding-bottom: 10px;
}

.select-wrapper select {
    width: 100%;
    height: 35px;
}

.select-wrapper:after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    transform: translateY(20%);
    pointer-events: none;
    color: #999;
}

select {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #F5F5F5;
    cursor: pointer;
    font-size: 18px;
}

select:focus {
    outline: none;
    border-color: #007bff; /* 포커스 시 테두리 색상 */
}

.category-wrapper{
    padding-bottom: 10px;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    position: relative;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
}

.card-overlay {
    font-family: "Jua", sans-serif;
    font-size: 23px;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.card-info {
    padding: 15px;
}

.card-info h3 {
    margin: 0 0 10px;
}

.card-info p {
    margin: 5px 0;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
