/* 공통 */
.wrap {
    position: relative;
    margin: 90px auto;
}

.sub_title {
    display: block;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    line-height: 50px;
    cursor: pointer;
}

/* 로그인 */
.login_form {
    display: block;
    border: 0px;
    position: relative;
    margin: 20px auto;
    height: 150px;
}

.login_form > ul > li {
    display: block;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding-right: 60px;
}

.login_form .login_img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.login_form > ul > li > input {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    height: 40px;
    margin: 10px 0px;
    width: 300px;
    border-radius: 4px;
    border: 2px solid #B5B5B5;
    padding-left: 15px;
}

.login_form .login_btn {
    display: block;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;
    width: 300px;
    margin: 40px auto;
    padding: 7px 0px;

    color: #FFFFFF;
    border-radius: 7px;
    border: 0px;
    background-color: #FFC2C2;
}

.login_form .login_btn:hover {
    color: #ffffff;
    background-color: black;
    font-weight: 700;
}

.login_register > hr {
    width: 60%;
    margin: 110px auto 35px;
    border: 1px solid #B5B5B5;
}

.login_register > p {
    display: block;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
}

.login_register .register_btn {
    display: block;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;

    cursor: pointer;
    width: 300px;
    margin: 0px auto;
    padding: 7px 0px;

    color: #000000;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.login_register .register_btn:hover {
    color: #ffffff;
    background-color: black;
    font-weight: 700;
}

/* 회원가입 관련 */
.register_form {
    display: block;
    border: 0px;
    position: relative;
    margin: 20px auto;
    height: 150px;
    width: 700px;
}

.register_form > ul {
    padding-left: 0px;
}

.register_form > ul > li {
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.register_form > ul > li input[type='text'], input[type='password'] {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    height: 40px;
    width: 450px;
    border-radius: 4px;
    border: 2px solid #B5B5B5;
    padding-left: 15px;
    margin: 20px auto;
}

.register_form .email_check {
    display: flex;
    justify-content: flex-start;
    width: 480px;
    margin: 0 auto;
}

.register_form .email_check > span {
    display: block;
}

.register_form #memberEmail {
    display: block;
    width: 300px;
}

.register_form .check_btn {
    display: block;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    line-height: 43px;
    background-color: #efefef;

    height: 43px;
    width: 145px;

    border-radius: 4px;
    border: 2px solid #B5B5B5;

    cursor: pointer;
}

.register_form .check_btn:hover {
    background-color: #FFC2C2;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 6px;
    font-weight: 600;
}

.register_form .register_btn {
    display: block;
    text-align: center;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;
    width: 400px;
    margin: 35px auto;
    padding: 10px 0px;

    color: #FFFFFF;
    border-radius: 7px;
    border: 0px;
    background-color: #FFC2C2;
}


.register_form .register_btn:hover {
    background-color: black;
}


.register_form hr {
    width: 60%;
    margin: 0px auto 35px;
    border: 1px solid #B5B5B5;
}

.register_form p {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#check-fail {
    color: red;
    display: none;
}

#check-success, #check-duplmail {
    color: forestgreen;
    display: none;
}

.register_form .check-result {
    display: flex;
    justify-content: flex-end;

    height: 10px;
    width: 480px;
    margin: -10px auto 0 auto;
    padding: 0;
}

.register-agree {
    text-align: center;
    justify-content: center;
}

.register-agree-content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.register-agree-content > p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: 5px;
}

.register-agree > a {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4B5CFF;
    background-color: #efefef;

}

.register-agree-img {
    display: block;
    margin-left: 3px;
}

#checkAgree {
    height: 23px;
    width: 23px;
    line-height: 40px;
    cursor: pointer;
}

/* 팝업 공통 */
.popup {
    position: fixed;
    display: none;

    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(2px);

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-body {
    position: absolute;
    top: 50%;

    width: 450px;
    height: 600px;

    padding: 40px;

    text-align: center;

    background-color: white;

    border: 4px solid #B5B5B5;
    box-shadow: 0 2px 2px 0 #B5B5B5;
    box-shadow-opacity: 20%;
    transform: translateY(-50%);
}

/* 이용약관 팝업 */
.popup-body > h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
}

.popup-body > h4 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
}

.popup-body > div > textarea {
    width: 420px;
    height: 350px;
    resize: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.popup-body > a {
    display: block;
    text-align: center;
    margin: 40px auto;

    background-color: #4B5CFF;
    color: #FFFFFF;

    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;

    width: 400px;
    height: 50px;
    line-height: 50px;

    border-radius: 10px;
}

/* 이메일 인증 팝업 */
.email-auth-popup{
    margin-top: 65px;
}

.email-auth-popup > p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
}

.email-auth-popup > img{
    width: 270px;
    width: 250px;
}

#authPopupClose {
    margin-top: 20px;
}


/* 이메일 인증 전 회원가입 완료 팝업 */
#successRegisterPopup > .popup-body{
    width: 420px;
    height: 540px;
}
.success-auth-popup {
    margin-top:20px;
    margin-bottom: 60px;
}
.success-auth-popup > p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top:60px;
    margin-bottom: 60px;
}

.success-auth-popup > img{
    width: 180px;
    height: 180px;
}

.success-auth-popup > a {
    margin-top: 10px;
}
