.pay-container, .button {
    font-family: "Noto Sans KR", sans-serif;
}

.pay-container {
    display: block;
    margin: 140px auto;
    text-align: center;
}

.url-container {
    border: none;
    color: black;
    width: 330px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: #DFDFDF;
    display: block;
    margin: 20px auto;
}

.url {
    color: black;
    text-decoration: none;
    cursor: pointer; /* 커서 스타일 추가 */
}

.url a {
    color: inherit;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button {
    border: none;
    display: inline-block;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button-copy .button {
    background-color: #DFDFDF;
}

.button-main .button {
    background-color: #85A7FF;
}

.button-copy .button:hover {
    background-color: #B0B0B0;
}

.button-main .button:hover {
    background-color: #6690FF;
}
