.card-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start; /* 왼쪽 정렬 유지 */
    padding-left: 10px;
    height: calc(100vh - 240px);
    margin: 10px 10px 0 0;
    overflow-y: auto;
}

.align-to-left {
    margin-right: auto;
}

.mycard-content{
    width: 100%;
    margin: auto;
}
.card {
    position: relative;
    width: 45%;
    margin: 2.5%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

.card-overlay {
    font-family: "Jua", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.card-text {
    margin: 0;
    padding-right: 10px;
    flex-grow: 1;
    word-wrap: break-word;
}