<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.member.MemberMapper">
    <select id="login" parameterType="com.choikang.chukahaeyo.member.model.MemberVO"
            resultType="com.choikang.chukahaeyo.member.model.MemberVO">
        SELECT *
        FROM members
        WHERE memberEmail = #{memberEmail}
          AND memberPwd = MD5(#{memberPwd})
    </select>

    <insert id="register" parameterType="com.choikang.chukahaeyo.member.model.MemberVO">
        INSERT INTO members(memberEmail, memberPwd, memberName, memberRegisterDate, memberAuth)
        VALUES (#{memberEmail}, MD5(#{memberPwd}), #{memberName}, NOW(), false)
    </insert>

    <select id="checkEmailDuplicate" parameterType="String" resultType="int">
        SELECT count(*)
        FROM members
        WHERE memberEmail = #{memberEmail}
    </select>
</mapper>