<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.member.MemberMapper">
    <select id="login" parameterType="com.choikang.chukahaeyo.member.model.MemberVO"
            resultType="com.choikang.chukahaeyo.member.model.MemberVO">
        SELECT *
        FROM Members
        WHERE memberEmail = #{memberEmail}
          AND memberPwd = MD5(#{memberPwd})
    </select>

    <insert id="register" parameterType="com.choikang.chukahaeyo.member.model.MemberVO">
        INSERT INTO Members(
            memberEmail, memberPwd, memberName, memberRegisterDate , memberAuth
            )
        VALUES (
            #{memberEmail}, MD5(#{memberPwd}), #{memberName}, NOW(), false
            )
    </insert>

    <select id="checkEmailDuplicate" parameterType="String" resultType="int">
        SELECT count(*) FROM Members WHERE memberEmail = #{memberEmail}
    </select>

    <select id="getUserInfoByEmail" parameterType="String" resultType="com.choikang.chukahaeyo.member.model.MemberVO">
        SELECT * FROM Members WHERE memberEmail = #{memberEmail}
    </select>

    <select id="getUserInfoById" parameterType="int" resultType="com.choikang.chukahaeyo.member.model.MemberVO">
        SELECT * FROM Members WHERE memberID = #{memberID}
    </select>

    <update id="memberVerify" parameterType="int">
        UPDATE Members SET memberAuth=true WHERE memberID = #{memberID}
    </update>

    <delete id="unsign" parameterType="com.choikang.chukahaeyo.member.model.MemberVO">
        DELETE from Members where memberID = #{memberID} AND memberPwd = MD5(#{memberPwd})
    </delete>

    <select id="validatePwd" parameterType="com.choikang.chukahaeyo.member.model.MemberVO" resultType="java.lang.Integer">
        SELECT memberID from Members where (memberID = #{memberID} AND memberPwd = MD5(#{memberPwd}))
    </select>

    <update id="changeMemberInfo" parameterType="com.choikang.chukahaeyo.member.model.MemberVO">
        UPDATE Members SET memberName = #{memberName}, memberPwd = MD5(#{memberPwd}) WHERE memberID = #{memberID}
    </update>
    
    <select id="getCardList"  parameterType="int" resultType="com.choikang.chukahaeyo.card.model.CardVO">
        select * from Card where memberId = #{memberId};
    </select>

    <select id="getPaymentList"  parameterType="int" resultType="com.choikang.chukahaeyo.payment.model.PaymentVO">
        select * from Payment where memberId = #{memberId};
    </select>

</mapper>