/*font*/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

body .container {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}

/*font*/
.container {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*community-logo*/
.community-logo {
    background-image: url("/resources/img/logo/community.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    margin: 20px 40px 40px 20px;
    position: relative;
}

/*writer-container*/
.writer-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.writer-container .writer-text {
    margin-bottom: 5px;
    margin-right: 10px;
    color: #535353;
}

.writer-container .writer-date {
    margin-bottom: 50px;
    color: #C6CED1;
}

/*title-container*/
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.title {
    width: 800px;
    min-height: 50px;
    font-size: 50px;
    color: #535353;
}

.title-container .heartred {
    background-image: url("/resources/img/board/heartred.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 45px;
}

.title-container .heartblack {
    background-image: url("/resources/img/board/heartblack.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 45px;
}

/*content*/
.content {
    color: #535353;
    width: 1000px;
    font-size: 20px;
}

/*button-container*/
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.button-container .list {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #B8B8B8;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30px;
}

.edit {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #949FFF;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30px;
}

.edit a {
    color: white;
}


.delete {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #949FFF;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 15px;
}

.delete a {
    color: white;
}


/*likecommentdisply-container*/
.likecommentdisply-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.likecommentdisply-container .like-display {
    margin: 10px;
    color: #CF8488;
}

.likecommentdisply-container .like-display-data {
    margin: 10px;
    color: #CF8488;
}

.likecommentdisply-container .comment-display {
    margin: 10px;
    color: #88D0D2;
}

.likecommentdisply-container .comment-display-data {
    margin: 10px;
    color: #88D0D2;
}

/*comment-container*/
.comment-container {
    border-top: 1px solid #D9D9D9;
    margin-top: 50px;
}

.comment-container .no-comment {
    color: #C6CED1;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*main-data-comment*/
.main-data-comment-write-inner {
    display: flex;
    flex-direction: row;
}

.main-data-comment-write-nickname {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 15px;
}

.main-data-comment-replytext {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 15px;
}

.main-data-comment-replybutton {
    width: 50px;
    background-color: white;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    height: auto;
    margin-right: 10px;
}

.main-data-comment-write-cancel-button {
    width: 50px;
    background-color: white;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    height: auto;
}

.main-data-comment-write {
    width: auto;
    height: auto;
    border: 1px solid #b3b3b3;
    margin: 15px;
}

.main-data-comment {
    padding-top: 20px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
}

.main-data-comment-writer {
    margin-bottom: 5px;
}

.main-data-comment-date {
    color: #C6CED1;
    margin-top: 5px;
}

.main-data-comment-replyshow {
    cursor: pointer;
    color: #8c9193;
}

/*sub data comment*/
.sub-data-comment {
    padding-top: 20px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.sub-data-comment-img {
    margin-left: 15px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.sub-data-comment-inner {
    display: inline-block;
    width: 100%;
}

.sub-data-comment-inner-writer {
    margin-bottom: 5px;
}

.sub-data-comment-inner-date {
    color: #C6CED1;
    margin-top: 5px;
}

.sub-data-comment-replytext {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 15px;
}

.sub-data-comment-replybutton {
    width: 50px;
    background-color: white;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    height: auto;
    margin-right: 10px;
}

.sub-data-comment-replyshow {
    cursor: pointer;
    color: #8c9193;
}

.sub-data-comment-write-inner {
    display: flex;
    flex-direction: row;
}

.sub-data-comment-write-nickname {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 15px;
}

.sub-data-comment-write {
    width: 100%;
    height: auto;
    border: 1px solid #b3b3b3;
    margin: 15px;
}

.sub-data-comment-write-cancel-button {
    width: 50px;
    background-color: white;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    height: auto;
}

/*main-comment-write*/
.main-comment-write-inner {
    display: flex;
    flex-direction: row;
}

.main-comment-write-nickname {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 15px;
}

.main-comment-write-text {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 15px;
}

.main-comment-write-button {
    width: 50px;
    background-color: white;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    height: auto;
    margin-right: 10px;
}

.main-comment-write-cancel-button {
    width: 50px;
    background-color: white;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
    height: auto;
}

.main-comment-write {
    width: auto;
    height: auto;
    border: 1px solid #b3b3b3;
    margin: 15px;
}

.like-icon {
    background-image: url("/resources/img/board/heartred.png");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
}

.comment-icon {
    background-image: url("/resources/img/board/chatCount.png");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
}