/*font*/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

.container {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;

}
/*font*/

.container {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*community-logo*/
.community-logo {
    background-image: url("/resources/img/logo/community.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 80px;
}

/*search*/
.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sort-box {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
}

.search .selectbox {
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
}

.search .textbox {
    width: 120px;
    height: 40px;
    font-size: 15px;
    border: 1px solid;
    border-color: rgb(118, 118, 118) rgb(133, 133, 133);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

.search .submitbox {
    font-family: "Noto Sans KR", sans-serif;
    width: 50px;
    height: 40px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: #949FFF;
    border-radius: 10px;
    cursor: pointer;
}

/*list*/
.list .list-board {
    border-top: 1px solid black;
    width: 100%;
    table-layout: fixed;
}

/*list-ellipsis*/
.list th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
}

/*list-title*/
.list .list-board .list-title {
    border-bottom: 1px solid #B9B5B5;
    background-color: #F3F3F3;
}

.list .list-board .list-title .no {
    width: 80px;
    text-align: center;
}

.list .list-board .list-title .title {
    width: 420px;
    text-align: center;
}

.list .list-board .list-title .writer {
    width: 100px;
    text-align: center;
}

.list .list-board .list-title .regdate {
    width: 120px;
    text-align: center;
}

.list .list-board .list-title .read-cnt {
    width: 80px;
    text-align: center;
}

.list .list-board .list-title .like {
    width: 80px;
    text-align: center;
}

.list .list-board .list-title .reply-count {
    width: 80px;
    text-align: center;
}

/*list-data*/
.list .list-board .list-data {
    border-bottom: 1px solid #B9B5B5;
}

.list .list-board .is-top {
    background-color: #DBDDFAFF;
}

.list .list-board .list-data .no {
    width: 80px;
    text-align: center;
}

.list .list-board .list-data .title {
    width: 420px;
    text-align: start;
    padding-left: 50px;
}

.list .list-board .list-data .title a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.list .list-board .list-data .writer {
    width: 100px;
    text-align: center;
}

.list .list-board .list-data .regdate {
    width: 120px;
    text-align: center;
}

.list .list-board .list-data .read-cnt {
    width: 80px;
    text-align: center;
}

.list .list-board .list-data .like {
    width: 80px;
    text-align: center;
}

.list .list-board .list-data .reply-count {
    width: 80px;
    text-align: center;
}

/*list-no-data*/
.list .list-board .list-no-data {
    text-align: center;
    border-bottom: 1px solid #B9B5B5;
    height: 50px;
    line-height: 50px;
}

/*write-button*/
.write-button {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #949FFF;
    color: white;
    align-self: self-end;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

.write-button a {
    text-decoration: none;
    color: white;
}

/*paging*/
.paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paging a {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    border: 1px solid #D9D9D9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}

.paging .current {
    display: inline-block;
    text-decoration: none;
    color: #949FFF;
    border: 1px solid #949FFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}

