/*font*/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');


.container {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

/* 고객센터 css */
.service {
    width: 90%;
    min-width: 1100px;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.service-header {
    width: 90%;
    margin: auto;
}

/* 헤더 */
.service-header > .service-logo {
    height: 60px;
    margin: 25px 10px 15px 100px;
}

.service-header > hr {
    margin: 0 auto;
    width: 90%;
    border: #B5B5B5 solid 1px;
}

.service-wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
}

.service-content {
    width: 80%;
}

/* 고객센터 메뉴 */
.menu {
    width: 20%;
    display: block;
}

.service-menu {
    width: 100%;
}

.service-menu a {
    color: black; /* a 태그 글씨 색 검은색으로 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    white-space: nowrap; /* 줄 넘김 방지 */
    letter-spacing: -1px; /* 자간 좁히기 */
}

.service-menu a:hover {
    color: black; /* a 태그 호버 시에도 글씨 색 검은색 유지 */
}

.service-menu > ul {
    margin: 0;
}

.service-menu > ul > li {
    display: block;
    text-align: left;
    list-style-type: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    height: 30px;
    margin: 40px 20px 40px 30px !important;
    line-height: 30px;
    cursor: pointer;
}

.v-line {
    border-left: 1px solid #B5B5B5;
    height: 650px;
}

.selectedMenu {
    font-weight: 800 !important;
    color: #4B5CFF !important;
}

/*실제 FAQ 들어가는 부분 */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq-title {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    align-self: flex-start;
    font-size: 24px;
    font-weight: 600;
}

.faq-container {
    width: 90%;
    align-items: center;
}

.faq-container span {
    display: inline-block;
    margin: 10px;
}

.faq-container hr {
    border: 1px #dedede solid;
}

.faq-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
}

.faq-inner-container > span {
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

.faq-inner-container .arrow {
    width: 25px;
    height: 25px;
    margin: auto 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.content {
    padding-left: 40px;
    font-size: 16px;
    margin: 0 10px 25px 10px;
    display: none;
    transition: transform 0.2s ease-in-out;
}


.faq-inner-container.active > span {
    font-weight: 800;
    color: #4B5CFF;
}

.faq-inner-container.active .arrow {
    transform: rotate(180deg);
    color: #4B5CFF;
}




