/*font*/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

body .container{
    font-family: "Noto Sans KR", sans-serif;
  }  
/*font*/

.container {
    margin: 40px 0 0 40px;
}

/*inquiry-logo*/
.container > h3 {
    font-size: 25px;
    margin: 20px 0 30px 0;
}

/*search*/
.search {
    display: none;
    /*display: flex;*/
    flex-direction: row;
    justify-content: end;

    margin-bottom: 15px;
    margin-right: 200px;
}

.search .selectbox {
    width: 90px;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
}

.search .textbox {
    width: 90px;
    height: 28px;
    font-size: 12px;
    
}

.search .submitbox {
    width: 37px;
    height: 30px;
    font-size: 12px;

    color: white;
    border: none;
    background-color: #949FFF;
    border-radius: 10px;
    cursor : pointer;
}

/*list*/
.list .list-board {
    width: 100%;
    border-top: 1px solid black;
    table-layout: fixed;
}

/*list-ellipsis*/
.list th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    height: 40px;
    line-height: 40px;
}

/*list-title*/
.list .list-board .list-title {
    border-bottom: 1px solid #B9B5B5;
    background-color: #F3F3F3;

}

.list .list-board .list-title .no {
    width: 60px;
    text-align: center;
}

.list .list-board .list-title .title {
    width: 435px;
    text-align: center;
}

.list .list-board .list-title .writer {
    width: 75px;
    text-align: center;
}

.list .list-board .list-title .regdate {
    width: 90px;
    text-align: center;
}

.list .list-board .list-title .is-answered {
    width: 60px;
    text-align: center;
}

/*list-data*/

.list .list-board .list-data {
    border-bottom: 1px solid #B9B5B5;
}

.list .list-board .list-data .no {
    width: 60px;
    text-align: center;
}

.list .list-board .list-data .title {
    width: 435px;
    text-align: start;
    padding-left: 37.5px;

    color: #98897B;
}

.list .list-board .list-data .title a {
    color: #98897B;
}

.list .list-board .list-data .writer {
    width: 75px;
    text-align: center;
}

.list .list-board .list-data .regdate {
    width: 90px;
    text-align: center;
}

.list .list-board .list-data .is-answered{
    width: 60px;
    text-align: center;
}
.list .list-board .list-data .is-answered .is-answered-img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

/*list-no-data*/
.list .list-board .list-no-data {
    text-align: center;
    border-bottom: 1px solid #B9B5B5;
    
    height: 50px;
    line-height: 50px;
}

/*write-button*/
.write-button{
    float: right;
    width: 138px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #949FFF;
    color: white;
    align-self: self-end;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}
.write-button a {
    color: white;

}

/*paging*/
.paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
}

.paging a {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    border: 1px solid #D9D9D9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.paging .current{
    display: inline-block;
    text-decoration: none;
    color: #949FFF;
    border: 1px solid #949FFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}