<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choikang.chukahaeyo.board.comment.BoardCommentMapper">
    <select id="count" parameterType="com.choikang.chukahaeyo.board.model.CommentVO" resultType="int">
        select count(*) from reply
        where boardId = #{boardId}
    </select>

    <select id="list" parameterType="com.choikang.chukahaeyo.board.model.CommentVO" resultType="com.choikang.chukahaeyo.board.model.CommentVO">
        SELECT replyId , replyContent , replyGno , replyOno , replyNested , replyPostDate , memberId , boardId , (select memberName from members where memberId=memberId) as memberName  FROM reply where boardId = #{boardId} order by replyGno ASC , replyOno ASC
    </select>

</mapper>